{% extends "_layouts/elementindex" %}

{% set title = "Product Labels"|t('app') %}
{% set elementType = 'thepixelage\\productlabels\\elements\\ProductLabel' %}

{% block actionButton %}
    {% if currentUser.can('registerUsers') %}
        <a class="btn submit add icon" href="{{ url('productlabels/new') }}">{{ "New product label"|t('app') }}</a>
    {% endif %}
{% endblock %}

{% if source is defined %}
    {% js %}
        window.defaultSourceSlug = "{{ source|e('js') }}";
    {% endjs %}
{% endif %}
